{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="/static/css/c3.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-table.min.css">
    <style>
        .c3 svg {
            font: 14px sans-serif;
        }
        .c3-axis-x > g {
            display: none;
        }

    </style>
{% endblock %}

{% block menuitems %}
    <li class="panel panel-default dropdown">
        <a data-toggle="collapse" href="#plot">
            <span class="icon fa fa-area-chart"></span><span class="title">Plot</span>
        </a>
        <!-- Dropdown level 1 -->
        <div id="plot" class="panel-collapse collapse">
            <div class="panel-body">
                <ul class="nav navbar-nav">
                    <li><a href="/project/{{ analysis.project.id }}">Default Plot</a>
                    </li>
                    <li><a href="/plot2/">Dimension Reduced Plot</a>
                    </li>
                </ul>
            </div>
        </div>
    </li>
    <li class="panel panel-default dropdown">
        <a data-toggle="collapse" href="#analyze">
            <span class="icon fa fa-line-chart"></span><span class="title">Analyze</span>
        </a>
        <!-- Dropdown level 1 -->
        <div id="analyze" class="panel-collapse collapse">
            <div class="panel-body">
                <ul class="nav navbar-nav">
                    <li><a href="/analysis/create/">Create New Analysis</a>
                    </li>
                    {% for analysis in analysis_set.all %}
                        <li><a href="/analysis/{{ analysis.id }}">{{ analysis.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </li>
    <li>
        <a href="#">
            <span class="icon fa fa-pencil"></span><span class="title">Configure Search Space</span>
        </a>
    </li>
    <li>
        <a href="/analysis/destroy/{{ analysis.id }}">
            <span class="icon fa fa-trash"></span><span class="title">Remove Project</span>
        </a>
    </li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h3>{{ analysis.project.name }} <i class="fa fa-angle-right"></i>
                <small>{{ analysis.name }}</small>
            </h3>
        </div>
        <div class="col-md-8">
            <h4 style="text-align: center; text-transform: uppercase">Significance Of Parameters</h4>
            {% if analysis.method == 'random_forest' %}
                <h5 style="text-align: center;">Random Forest</h5>
            {% elif analysis.method == 'relief' %}
                <h5 style="text-align: center;">Relief</h5>
            {% endif %}
            <div id="chart">
            </div>
        </div>
        <div class="col-md-4">
            <h4 style="text-align: center; text-transform: uppercase">Most Important Parameters</h4>
            <table id="table-top" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th data-field="Params">Parameter</th>
                    <th data-field="Importance">Importance Score</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/static/js/d3.min.js"></script>
    <script type="text/javascript" src="/static/js/c3.min.js"></script>
    <script type="text/javascript" src="/static/js/lib/bootstrap-table.min.js"></script>
{% endblock %}

{% block customscripts %}
    {% autoescape off %}
        <script>
            var chart = c3.generate({
                bindto: '#chart',
                data: {
                    json: {{ json }},
                    keys: {
                        x: 'Params',
                        value: ['Importance']
                    },
                    type: 'scatter',
                    colors: {
                        Importance: '#ff0000'
                    }
                },

                axis: {
                    x: {
                        type: 'category',
                        tick: {
                            culling: {
                                max: 2
                            }
                        },
                        label: {
                            text: 'Parameter',
                            position: 'outer-center'
                        }
                    },
                    y: {
                        label: {
                            text: 'Importance',
                            position: 'outer-middle'
                        }
                    }
                },
                zoom: {
                    enabled: true
                },
                legend: {
                    show: false
                },
                padding: {
                    top: 5,
                    bottom: 5
                }
            });
        </script>
        <script>
            $(document).ready(function () {
                $('#table-top').bootstrapTable({
                    data: {{ top }}
                });
            });
        </script>
    {% endautoescape %}
{% endblock %}
