<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}
    {% endblock %}
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <!-- CSS Libs -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-switch.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/checkbox3.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/select2.min.css">
    <!-- CSS App -->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/themes/flat-blue.css">
    {#    <link rel="stylesheet" href="{% static 'css/custom-style.css' %}"/>#}

    <style>
        .incomplete {
            pointer-events: none;
            cursor: default;
        }

        .incomplete a {
            color: #d98478 !important;
        }
    </style>

    {% block styles %}
    {% endblock %}
</head>

<body class="flat-blue">
<div class="app-container">
    <div class="row content-container">
{#        <nav class="navbar navbar-default navbar-fixed-top navbar-top">#}
{#            <div class="container-fluid">#}
{#                <div class="navbar-header">#}
{#                    <button type="button" class="navbar-expand-toggle">#}
{#                        <i class="fa fa-bars icon"></i>#}
{#                    </button>#}
{#                    <ol class="breadcrumb navbar-breadcrumb">#}
{#                        <li class="active">Visualizer V.1</li>#}
{#                    </ol>#}
{#                </div>#}
{#            </div>#}
{#        </nav>#}
        <div class="side-menu sidebar-inverse">
            <nav class="navbar navbar-default" role="navigation">
                <div class="side-menu-container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/project/list/">
                            <div class="icon fa fa-area-chart"></div>
                            <div class="title">Visualizer V.1</div>
                        </a>
                        <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                            <i class="fa fa-times icon"></i>
                        </button>
                    </div>
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/project/list/">
                                <span class="icon fa fa-list"></span><span class="title">Project List</span>
                            </a>
                        </li>
                        <li>
                            <a href="/project/create/">
                                <span class="icon fa fa-plus"></span><span class="title">Create New Project</span>
                            </a>
                        </li>
                        {% block menuitems %}
                        {% endblock %}
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
        </div>
        <!-- Main Content -->
        <div class="container-fluid">
            <div class="side-body">
                {% block content %}
                {% endblock %}
            </div>
        </div>

    </div>
    <footer class="app-footer">
        <div class="wrapper">
{#            <span class="pull-right"></span> © 2015 Copyright.#}
        </div>
    </footer>
    <div>
        <!-- Javascript Libs -->
        <script type="text/javascript" src="/static/js/lib/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/lib/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/js/lib/Chart.min.js"></script>
        <script type="text/javascript" src="/static/js/lib/bootstrap-switch.min.js"></script>
        <script type="text/javascript" src="/static/js/lib/jquery.matchHeight-min.js"></script>
        <script type="text/javascript" src="/static/js/lib/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="/static/js/lib/dataTables.bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/js/lib/select2.full.min.js"></script>
        <script type="text/javascript" src="/static/js/lib/ace/ace.js"></script>
        <script type="text/javascript" src="/static/js/lib/ace/mode-html.js"></script>
        <script type="text/javascript" src="/static/js/lib/ace/theme-github.js"></script>
        <!-- Javascript -->
        <script type="text/javascript" src="/static/js/lib/app.js"></script>
        <script type="text/javascript" src="/static/js/lib/index.js"></script>

        {% block scripts %}
        {% endblock %}

        {% block customscripts %}
        {% endblock %}
    </div>
</div>
</body>

</html>