{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="/static/css/jquery.dataTables.min.css"/>
{% endblock %}

{% block scripts %}
    <script src="/static/js/lib/jquery.dataTables.min.js"></script>
    <script>
        var table;
        $(document).ready(function () {
            table = jQuery('#configs_table').DataTable();
        });

        var form;
        function submitForm(isNewTuningRun) {
            var params = table.$('input, select').serializeArray();
            var form = $("<form>{% csrf_token %}</form>");

            form.attr("method", "post");
            form.attr("action", ".");

            $.each(params, function () {
                var field = $('<input></input>');
                field.attr("type", "hidden");
                field.attr("name", this.name);
                field.attr("value", this.value);
                form.append(field);
            });
            var field = $('<input></input>');
            field.attr("type", "hidden");
            field.attr("name", "isNewTuningRun");
            field.attr("value", isNewTuningRun);
            form.append(field);

            $(document.body).append(form);
            form.submit();
        }
    </script>
{% endblock %}

{% block menuitems %}
    <li class="panel panel-default dropdown">
        <a data-toggle="collapse" href="#plot">
            <span class="icon fa fa-area-chart"></span><span class="title">Plot</span>
        </a>
        <!-- Dropdown level 1 -->
        <div id="plot" class="panel-collapse collapse">
            <div class="panel-body">
                <ul class="nav navbar-nav">
                    <li><a href="/plots/{{ project.id }}">Default Plot</a>
                    </li>
                    <li><a href="/plot2/{{ project.id }}">Dimension Reduced Plot</a>
                    </li>
                </ul>
            </div>
        </div>
    </li>
    <li class="panel panel-default dropdown">
        <a data-toggle="collapse" href="#analyze">
            <span class="icon fa fa-line-chart"></span><span class="title">Analyze</span>
        </a>
        <!-- Dropdown level 1 -->
        <div id="analyze" class="panel-collapse collapse">
            <div class="panel-body">
                <ul class="nav navbar-nav">
                    <li><a href="/analysis/create/">Create New Analysis</a>
                    </li>
                    {% for analysis in project.analysis_set.all %}
                        <li class="{{ analysis.status }}"><a href="/analysis/{{ analysis.id }}">{{ analysis.name }}
                            ({{ analysis.status }})</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </li>
    <li>
        <a href="#" onclick="editConfig()">
            <span class="icon fa fa-pencil"></span><span class="title">Configure Search Space</span>
        </a>
    </li>
    <li>
        <a href="/project/destroy/{{ project.id }}">
            <span class="icon fa fa-trash"></span><span class="title">Remove Project</span>
        </a>
    </li>
{% endblock %}

{% block content %}
    <div class="col-md-6">
        <table class="table table-bordered" id="configs_table">
            <thead id="table-headers">
            <th>Name</th>
            <th>Value</th>
            </thead>
            <tbody>{{ form }}</tbody>
        </table>
        <button class="btn btn-primary" type="button" id="run_now" onclick="submitForm(false)">Run Now</button>
        <button class="btn btn-primary" type="button" id="run_later" onclick="submitForm(true)">Run Later</button>
    </div>
    <div class="col-md-6"></div>
{% endblock %}