<html>
<head>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.dynatable.js"></script>
    <link rel="stylesheet" href="/static/css/jquery.dynatable.css"/>
    <script>
        function update_conf_details(obj) {
            $.ajax({
                type: "GET",
                url: '/plot/config/' + obj[0],
                success: function(response){
                    console.log(response)
                    var data = [];
                    for(var key in response) {
                        data.push({
                            "name": key,
                            "value": response[key]
                        });
                    }
                    config_table.settings.dataset.originalRecords = data;
                    config_table.process();
                }
            });
        }
        var config_table;
        $(document).ready(function () {
            config_table = $('#configuration-table').dynatable().data('dynatable');
        });
        setInterval(function(){
            $.ajax({
                type: "GET",
                url: '/plot/update/'
            });
        },5000)

    </script>
</head>
<body>

<div class="row">
    <div class="col-md-6">
        {{script_js}}
    </div>
    <div class="col-md-6">
        <h3>Configuration Details</h3>
        <table id="configuration-table" class="table table-bordered">
            <thead>
            <th>Name</th>
            <th>Value</th>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
