<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/jquery.dynatable.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap-switch.css"/>
    <link rel="stylesheet" href="/static/css/jquery-ui.min.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap-tokenfield.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>

    <script src="/static/js/lib/jquery.min.js"></script>
    <script src="/static/js/lib/jquery-ui.min.js"></script>
    <script src="/static/js/lib/bootstrap.min.js"></script>
    <script src="/static/js/lib/bootstrap-switch.js"></script>
    <script src="/static/js/lib/jquery.dynatable.js"></script>
    <script src="/static/js/lib/bootstrap-tokenfield.js"></script>

    <script src="/static/js/plot.js"></script>

</head>

<body>
<div class="row">
{#    <h1></h1>#}

{#    <div id="mobile-nav"></div>#}
    <nav>
        <ul class="menu">
            <li><a href="/plot">Plot config times</a></li>
            <li><a href="/plot2">Plot configs in 2D</a></li>
            <li><a href="/upload">Settings</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</div>

<div class="row">
    <div class="col-md-6">
        {{ script_js }}
    </div>

    <div class="col-md-5 data-table">
        <div style="padding: 5px" class="col-md-12" id="control-box">
            <div id="control-knobs" class="col-md-6">
                Enable Comparison <input type="checkbox" id="enable-comparison" onchange="enableComparison()">
            </div>

            <div id="control-extend" class="col-md-6">
                <div class="col-md-12" id="comparison-controls" style="display: none">
                </div>
            </div>
        </div>
        <div style="padding: 5px" class="col-md-12" id="">
            <input type="text" class="form-control" id="tokenfield" placeholder="Enter flag names"
                   onchange="tokenFieldChange()"/>
        </div>

        <div class="col-md-12">
            <br><br>
        </div>
        <h3>Configuration Details</h3>

        <div id="config-table">
            <table id="configuration-table" class="table table-bordered">
                <thead id="table-headers">
                <th>Name</th>
                <th>Value</th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

    </div>
</div>

<script type="text/javascript">
    $('nav').hover(function (event) {
        $('nav').toggleClass('active');
    });
    $('').click(function (event) {
        $('nav').toggleClass('active');
    });
</script>
</body>
</html>
