
{% extends 'base.html' %}
{% block content %}
<div class="row right-column">
    <div class="col-md-6">
        {{ script_js }}
    </div>

    <div class="col-md-5 config-data-table">
        <div style="padding: 5px" class="col-md-12" id="control-box">
            <div id="control-knobs" class="col-md-6">
                Enable Comparison <input type="checkbox" id="enable-comparison" onchange="enableComparison()">
            </div>

            <div id="control-extend" class="col-md-6">
                <div class="col-md-12" id="comparison-controls" style="display: none">
                </div>
            </div>
        </div>
        <div style="padding: 5px" class="col-md-12" id="">
            <input type="text" class="form-control" id="tokenfield" placeholder="Enter flag names" onchange="tokenFieldChange()"/>
        </div>

        <div class="col-md-12">
            <br><br>
        </div>

        <div class="col-md-12">
            <div id="custom-param-list">
                <table id="custom-param-table" class="table">

                </table>
            </div>
        </div>

        <h3>Configuration Details</h3>

        <div id="config-table">
            <table id="configuration-table" class="table table-bordered">
                <thead id="table-headers">
                <th>Name</th>
                <th>Value</th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block customscripts %}
<script type="text/javascript">
    $('nav').hover(function (event) {
        $('nav').toggleClass('active');
    });
    $('').click(function (event) {
        $('nav').toggleClass('active');
    });
</script>
{% endblock %}
