<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/jquery.dynatable.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap-switch.css" rel="stylesheet">

    <script src="/static/js/lib/jquery.min.js"></script>
    <script src="/static/js/lib/bootstrap.min.js"></script>
    <script src="/static/js/lib/bootstrap-switch.js"></script>

</head>
<body>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group input-group-lg">
                      <span class="label" id="database-label">Database URL</span>
                      <input type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>