{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="/static/css/fileinput.min.css">
{% endblock %}

{% block scripts %}
    <script src="/static/js/lib/jquery.cookie.js"></script>
    <script src="/static/js/lib/fileinput.min.js"></script>
    <script src="/static/js/upload.js"></script>

    <script>
        var csrftoken = jQuery.cookie('csrftoken');
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    </script>
{% endblock %}

{% block content %}
    <div class="section">
        <div class="container">
            <h1>Upload Files</h1>

            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="form-wrap">
                        <div class="form-group">
                            <label class="control-label">Database</label>
                            <input id="database" name="database" type="file" class="file" multiple="false"
                                   data-show-upload="false" data-show-caption="true">
                        </div>
                        <br/>
                        <hr/>
                        <br/>

                        <div class="form-group">
                            <label class="control-label">Manipulator</label>
                            <input id="manipulator" name="manipulator" type="file" class="file" multiple="false"
                                   data-show-upload="false" data-show-caption="true">
                        </div>
                    </div>
                    <br/>

                    <div class="form-group">
                        <button class="btn btn-primary" type="button" onclick="uploadFiles()">Upload</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}