
/*MENU*/

.menu {
  list-style: none;
  line-height: 42px;
  margin: auto;
  /*outline: 1px solid red;*/
  padding-left: 0;
  width: 15em;
}

.menu a {
  background: url(icons.png) no-repeat left top;
  color: #ddd;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding-left: 3em;
  width: 100%;
}

.menu a:hover {
  margin-left: 1em;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.menu li {
  box-shadow: 3px 0 rgba(52,152,219,.2) inset;
  margin-bottom: 5px;
  padding-left: .5em;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;/*outline: 1px solid green*/
}

.menu li:hover { box-shadow: 15em 0 rgba(52,152,219,.2)inset; }

.menu li:nth-child(2) a { background-position: 0 -42px; }

.menu li:nth-child(3) a { background-position: 0 -84px; }

.menu li:nth-child(4) a { background-position: 0 -126px; }

.menu li:nth-child(5) a { background-position: 0 -168px; }

.menu li:last-child a { background-position: 0 -210px; }

/*FIN MENU*/
/*Posicion Responsive Menu*/

nav {
  background: rgba(41,128,185,1);
  padding-right: .25em;
  position: absolute;
  left: 89.8em;
  top: 0;
  padding-top: 1em;
  box-sizing: border-box;
  z-index: 100;
  height: 100%;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

nav.active { left: 78em; }

#mobile-nav {
  background: url(menu-icon.png);
  color: rgba(255,255,255,.8);
  cursor: pointer;
  left: 91em;
  height: 30px;
  position: absolute;
  top: 2em;
  width: 30px;
  z-index: 110;
}

.data-table{
    padding-right: 0;
    width: 45%;
}